<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.android.orshimusicalstructure">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".NowPlaying"
            android:label="@string/category_playing"/>
        <activity android:name=".PlayList"
            android:label="@string/category_playlist"/>
        <activity android:name=".Artist"
            android:label="@string/category_artist"/>
        <activity android:name=".Albums"
            android:label="@string/category_albums"/>
        <activity android:name=".Lyrics"
            android:label="@string/category_lyrics"></activity>
    </application>

</manifest>